#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ROCKETALT_PROCESSING
	bool "Data processing logic"
	default n
	depends on UORB
	depends on USENSOR
	---help---
		Primary logic for performing altimeter calculations. Includes altitude
		estimation, filtering and event detection through the uORB framework.

if ROCKETALT_PROCESSING

comment "Program options"

config ROCKETALT_PROCESSING_PRIORITY
	int "Priority"
	default 100
	---help---
		The task priority for the processing uORB topics.

config ROCKETALT_PROCESSING_STACKSIZE
	int "Stack size"
	default 2048
	---help---
		The stack size for the processing uORB topics. These are small programs
		which perform uORB operations.

menu "Altitude fusion"

config ROCKETALT_ALTFUSION_QLEN
	int "Altitude queue length"
	default 5
	---help---
		The length of the queue to use for buffering altitude measurements.

config ROCKETALT_HEIGHTFUSION_QLEN
	int "Height queue length"
	default 5
	---help---
		The length of the queue to use for buffering height measurements.

endmenu # Altitude fusion

menu "Velocity Fusion"

config ROCKETALT_VELFUSION_QLEN
	int "Queue length"
	default 5
	---help---
		The length of the queue to use for buffering velocity measurements.

endmenu # Velocity Fusion

menu "Event detection"

config ROCKETALT_EVENT_QLEN
	int "Queue length"
	default 3
	---help---
		The length of the queue to use for buffering flight events.

config ROCKETALT_EVENT_SYSLOG
	bool "Syslog event output"
	default n
	---help---
		If enabled, flight event changes are syslogged as INFO.

endmenu # Event detection

config ROCKETALT_PROCESSING_BATMON
	bool "ADC battery monitor"
	default n
	depends on ADC
	---help---
		Enable support for monitoring a battery connected to an ADC interface.

if ROCKETALT_PROCESSING_BATMON
menu "Battery monitor"
	
config ROCKETALT_BATMON_VOLTAGE_QLEN
	int "Battery measurement queue length"
	default 5
	---help---
		The length of the queue to use for buffering battery measurements.

config ROCKETALT_BATMON_SWTRIG
	bool "ADC needs software trigger"
	default n
	---help---
		Enable this if the ADC device needs to have measurements triggered by
		software before they're available.

if ROCKETALT_BATMON_SWTRIG

config ROCKETALT_BATMON_PERIOD
	int "Measurement period (s)"
	default 10
	---help---
		Defines the measurement period for the battery monitor (how often an ADC
		measurement will be taken).
		
endif # ROCKETALT_BATMON_SWTRIG

config ROCKETALT_BATMON_ADCRESOLUTION
	int "ADC resolution (bits)"
	---help---
		The ADC's resolution in bits.

config ROCKETALT_BATMON_BATMAX
	int "Battery max voltage (mV)"
	---help---
		The battery's maximum voltage in millivolts.

endmenu # Battery monitor
endif # ROCKETALT_PROCESSING_BATMON

config ROCKETALT_PROCESSING_CONTMON
	bool "ADC continuity monitor"
	default n
	depends on ADC
	---help---
		Enable support for monitoring continuity of deployment channels using an
		ADC.

if ROCKETALT_PROCESSING_CONTMON
menu "Continuity monitor"

config ROCKETALT_CONTMON_VOLTAGE_QLEN
	int "Continuity measurement queue length"
	default 5
	---help---
		The length of the queue to use for buffering continuity measurements.

config ROCKETALT_CONTMON_NUMCHANS
	int "Number of channels to monitor"
	default 1
	---help---
		The number of deployment channels to monitor the continuity of.

config ROCKETALT_CONTMON_SWTRIG
	bool "ADC needs software trigger"
	default n
	---help---
		Enable this if the ADC device needs to have measurements triggered by
		software before they're available.

if ROCKETALT_CONTMON_SWTRIG

config ROCKETALT_CONTMON_PERIOD
	int "Measurement period (s)"
	default 10
	---help---
		Defines the measurement period for the battery monitor (how often an ADC
		measurement will be taken).
		
endif # ROCKETALT_CONTMON_SWTRIG

config ROCKETALT_CONTMON_ADCRESOLUTION
	int "ADC resolution (bits)"
	---help---
		The ADC's resolution in bits.

config ROCKETALT_CONTMON_VMAX
	int "ADC max voltage (mV)"
	---help---
		The maximum voltage measured by the ADC in millivolts.

config ROCKETALT_CONTMON_VTHRESH
	int "Continuity threshold voltage (mV)"
	---help---
		The minimum voltage at which the channel is determined to be continuous.

endmenu # Continuity monitor
endif # ROCKETALT_PROCESSING_CONTMON

endif # ROCKETALT_PROCESSING
