#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig ROCKETALT_PROCESSING
	tristate "Data processing logic"
	default n
	depends on UORB
	depends on USENSOR
	---help---
		Primary logic for performing altimeter calculations. Includes altitude
		estimation, filtering and event detection through the uORB framework.

if ROCKETALT_PROCESSING

comment "Program options"

config ROCKETALT_PROCESSING_PRIORITY
	int "Priority"
	default 100
	---help---
		The task priority for the processing uORB topics.

config ROCKETALT_PROCESSING_STACKSIZE
	int "Stack size"
	default 2048
	---help---
		The stack size for the processing uORB topics. These are small programs
		which perform uORB operations.

comment "Data processing programs"

source "$APPSDIR/rocket-altimeter/processing/altitude/Kconfig"
source "$APPSDIR/rocket-altimeter/processing/velocity/Kconfig"
source "$APPSDIR/rocket-altimeter/processing/events/Kconfig"
source "$APPSDIR/rocket-altimeter/processing/batmon/Kconfig"
source "$APPSDIR/rocket-altimeter/processing/continuity/Kconfig"

endif # ROCKETALT_PROCESSING
