menuconfig ROCKETALT_PROCESSING_CONTMON
	bool "Continuity monitor"
	default n
	---help---
		Enable support for monitoring continuity of deployment channels using an
		ADC.

if ROCKETALT_PROCESSING_CONTMON

config ROCKETALT_CONTMON_QLEN
	int "Continuity measurement queue length"
	default 5
	---help---
		The length of the queue to use for buffering continuity measurements.

endif # ROCKETALT_PROCESSING_CONTMON
