#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig ROCKETALT_FAKE_BARO
	tristate "Fake barometer topic"
	default n
	depends on UORB
	depends on USENSOR
	---help---
		Contains the implementation of a fake barometer to perform testing
		without access to a real barometric pressure sensor.

if ROCKETALT_FAKE_BARO

comment "Program options"

config ROCKETALT_FAKE_BARO_PRIORITY
	int "Priority"
	default 100
	---help---
		The task priority for the fake_baro uORB topic.

config ROCKETALT_FAKE_BARO_STACKSIZE
	int "Stack size"
	default 2048
	---help---
		The stack size for the fake_baro uORB topic.

comment "Fake data options"

config ROCKETALT_FAKE_BARO_QLEN
	int "Queue length"
	default 5
	---help---
		How many barometer measurements can be stored in the queue buffer at
		once while publishing data.

choice
	prompt "Fake barometer implementation"
	default ROCKETALT_FAKE_BARO_USECSV

config ROCKETALT_FAKE_BARO_USECSV
	bool "Fake data from CSV file"
	depends on SENSORS_FAKESENSOR
	---help---
		Implementation of the fake barometer using a CSV file from which data
		can be read and published.

config ROCKETALT_FAKE_BARO_USEBLE
	bool "Fake data from Bluetooth"
	---help---
		Implementation of the fake barometer using a Bluetooth service to
		recieve and publish barometer data from some other device.

config ROCKETALT_FAKE_BARO_USECURVE
	bool "Fake data from a curve"
	---help---
		Implementation of the fake barometer using a pre-defined mathematical
		curve to generate fake barometer data.
	
endchoice

endif # ROCKETALT_FAKE_BARO
