#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ROCKETALT_GENESIS
	bool "Genesis program"
	default n
	---help---
		Starts all of the processes needed for the rocket altimeter firmware.

if ROCKETALT_GENESIS

comment "Program options"

config ROCKETALT_GENESIS_PRIORITY
	int "Priority"
	default 100
	---help---
		The task priority for the genesis program.

config ROCKETALT_GENESIS_STACKSIZE
	int "Stack size"
	default 1024
	---help---
		The stack size for the genesis program.

endif # ROCKETALT_GENESIS
