#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig ROCKETALT_BTDAEMON
	tristate "Bluetooth daemon"
	default n
	depends on UORB
	depends on USENSOR
	depends on NIMBLE
	depends on WIRELESS_BLUETOOTH
	---help---
		Bluetooth daemon for publishing status over BLE and allowing device
		configuration over Bluetooth.

if ROCKETALT_BTDAEMON

comment "Program options"

config ROCKETALT_BTDAEMON_PRIORITY
	int "Priority"
	default 100
	---help---
		The task priority for the btdaemon program.

config ROCKETALT_BTDAEMON_STACKSIZE
	int "Stack size"
	default 2048
	---help---
		The stack size for the btdaemon program.

comment "Bluetooth GAP options"

config ROCKETALT_BTDAEMON_GAPNAME
	string "GAP name"
	default "Rocketalt"
	---help---
		The Bluetooth GAP name to use. This is what shows up as the name in
		discovery when advertising.

comment "Bluetooth device info options"

config ROCKETALT_BTDAEMON_DEVNAME
	string "Device name"
	default "Rocket Altimeter"
	---help---
		The Bluetooth device name to use. This is what shows up as the device
		model under the device information service.

config ROCKETALT_BTDAEMON_MANNAME
	string "Manufacturer name"
	default "Apache NuttX"
	---help---
		This is what shows up as the manufacturer model under the device
		information service.

config ROCKETALT_BTDAEMON_HWREV
	string "Hardware revision"
	default "0"
	---help---
		This is what shows up as the hardware revision under the device
		information service.

endif # ROCKETALT_BTDAEMON
